* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}


body{
    align-items: center;
    justify-content: center;
    background-image:url(bg.jpg)
    
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.tileimg {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

